body{
    font-family: Arial, Helvetica, sans-serif;
}
.box{
    background-color: #fff;
    width: 300px;
    height: 300px;
    margin: 30px auto;
    box-shadow: 0px 1px 2px 3px #eee;
}
input{
    width: 93%;
    box-sizing: border-box;
    border: 1px solid #eee;
    height: 40px;
    margin: 10px 10px;
    padding: 10px;
    font-size: 20px;
}
input:focus{
    outline: none;
}
.buttons{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-evenly;
    padding: 10px 0 10px 10px;  
}
.buttons>button{
    background-color: #f9f9f9;
    width: 61px;
    height: 34px;
    border: 1px solid #e3cfcf;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.buttons>.button1,
.buttons>.button2,
.buttons>.button3,
.buttons>.button4
{
    background-color: #ddd;
    margin-top: 0;
}
.buttons>.button8{
    background-color: #4e8ffe;
    color: white;
    grid-column: 4/5;
    grid-row: 2 / span 4;
    height: 175px;
}
button:active {
    background-color: #ddd;
    box-shadow: 0 3px #666;
    transform: translateY(3px);
  }
  button:hover{
    cursor: pointer;
  }